*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body{
    background: rgb(139, 139, 139);
    padding: 20px;
}

#restaurant{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

    #box{
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        padding: 30px;
        background: white;

        h1{
            padding: 0 5px;
        }

        h2{
            padding: 5px;
        }

        h3{
            padding: 3px 5px;
        }
    }
}